{% extends 'AcmeTanksBundle::base.html.twig' %}
{%block title%}Огляд {{vid}}{% endblock %}	
{%block theme%}
	{%if app.request.cookies.has('login') %}
		<div id=new_ onclick="add_open('add_tank_')">Додати танк</div>
	{%else%}
		<div id=new_ onclick='window.scrollTo(0,0);enter()'>Зареєструйтесь щоб додати танк</div>	
	{%endif%}	

	{% include 'AcmeTanksBundle::add_tank.html.twig' %}
	{% include 'AcmeTanksBundle::tank.html.twig' %}
	
	{% set pages = (count/4)|round(0,'ceil')%}
	{% set url_ = '/tanks/review/'~type~'/' %}
	{% set block_ = '#theme_' %}

	<div id='new_block'></div>

	<br>{% include 'AcmeTanksBundle::pager.html.twig' %}

{%endblock %}	

	
