{% extends 'AcmeTanksBundle::base.html.twig' %}
{%block title%}Огляд {{vid}}{% endblock %}	
{%block theme%}
    <h3>Огляд {{vid}}</h1>
	{%if app.request.cookies.has('login') %}
		<div id=new_ onclick="add_open('add_tank_')">Додати танк</div>
	{%else%}
		<div id=new_ onclick='window.scrollTo(0,0);enter()'>Зареєструйтесь щоб додати танк</div>	
	{%endif%}	

	{% include 'AcmeTanksBundle::add_tank.html.twig' %}
	{%if count != 0%}
	    {% include 'AcmeTanksBundle::tank.html.twig' %}
	{%else%}
	    {% include 'AcmeTanksBundle::nofound.html.twig' %}
	{%endif%}	
	{% set pages = (count/4)|round(0,'ceil')%}
	{% set url_ = '/tanks/review/'~type~'/'~level~'/' %}
	{% set block_ = '#theme_' %}

	<div id='new_block'></div>
    знайдено {{count}}<br>
	{% include 'AcmeTanksBundle::pager.html.twig' %}

{%endblock %}	

	
