{% extends 'AcmeTanksBundle::base.html.twig' %}
{%block title%}Пошук {{name}}{% endblock %}	
{%block theme%}

    <h3>За запитом "{{name}}" знайдено {{count}} записів:</h3>
	{%if app.request.cookies.has('login') %}
		<div id=new_ onclick="add_open('add_tank_')">Додати танк</div>
	{%else%}
		<div id=new_ onclick='window.scrollTo(0,0);enter()'>Зареєструйтесь щоб додати танк</div>	
	{%endif%}	

	{% include 'AcmeTanksBundle::add_tank.html.twig' %}

	{%if count != 0%}
	    {% include 'AcmeTanksBundle::tank.html.twig' %}
	{%else%}
	    {% include 'AcmeTanksBundle::nofound.html.twig' %}
	{%endif%}	
	{% set pages = (count/4)|round(0,'ceil')%}
	{% set url_ = '/tanks/tanksByName/'~name~'/' %}
	{% set block_ = '#theme_' %}

    <br>знайдено {{count}}
	{% include 'AcmeTanksBundle::pager.html.twig' %}

{%endblock %}	

	
